version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2022
configuration: Release
platform: Any CPU
shallow_clone: true
clone_folder: c:\projects\windepends
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
install:
- ps: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    $installScript = "$env:TEMP\dotnet-install.ps1"
    Invoke-WebRequest -Uri "https://raw.githubusercontent.com/dotnet/install-scripts/main/src/dotnet-install.ps1" -OutFile $installScript -UseBasicParsing
    & $installScript -Channel 10.0 -InstallDir "C:\dotnet10"
    C:\dotnet10\dotnet.exe --list-sdks
before_build:
- ps: C:\dotnet10\dotnet.exe restore src\windepends. sln
build_script:
- ps: C:\dotnet10\dotnet.exe build src\WinDepends.sln -c Release --no-restore
